TOKEN=WKLEJ_TOKEN_BOTA
CLIENT_ID=WKLEJ_ID_APLIKACJI
GUILD_ID=WKLEJ_ID_SERWERA
TIME_ZONE=Europe/Warsaw
MAX_MESSAGES=25000

PAWEL_DROP_CHANNEL_ID=1515437409653756005
RYZEN_DROP_CHANNEL_ID=1524841513606189178

# Domyślnie raport jest wysyłany na ten sam kanał co dropy.
PAWEL_REPORT_CHANNEL_ID=1515437409653756005
RYZEN_REPORT_CHANNEL_ID=1524841513606189178

# Osoby pingowane przez alerty na odpowiednich kanałach.
PAWEL_ALERT_USER_ID=1265797244074852576
RYZEN_ALERT_USER_ID=1330652001075335300

# Alert przy RAP 4B ±100M, czyli od 3.9B do 4.1B.
ALERT_RAP_CENTER=4000000000
ALERT_RAP_TOLERANCE=100000000

# 0 = wyłączony. Przykład: 100000000 oznacza alert dla każdego peta >= 100M RAP.
ALERT_MIN_RAP=0

# Dla Railway Volume ustaw mount path /app/data.
STATE_DIR=/app/data
