TOKEN=WKLEJ_TOKEN_BOTA
CLIENT_ID=WKLEJ_ID_APLIKACJI
GUILD_ID=WKLEJ_ID_SERWERA
TIME_ZONE=Europe/Warsaw
MAX_MESSAGES=25000
PAWEL_DROP_CHANNEL_ID=1515437409653756005
RYZEN_DROP_CHANNEL_ID=1524841513606189178
